body{
    font-family: 'Patrick Hand', cursive;
}
.container{
     margin-top: 30px;
}
.modal-body{
  padding: 40px;
}

.fcc-font{
  color: black;
  font-size:25px;
}
#edit{
  color: rgb(160, 160, 160);
}
